@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

#canvasContainer {
    height:80vh;
    background-color: #2f3e46;
    background-image: url("../public/space.jpg");
}

h1 {
    font-family: 'Baumans', cursive;
    text-align: right;
    font-size: 4rem;
    margin-right: 2vw;
    margin-bottom: 0.5vh;
    margin-top: 1vh;
}

#instructions {
    overflow-y: scroll;
    width: 50%;
    height: 130px;
    margin-left: 45%;
    margin-bottom: 1vh;
    font-family: 'Montserrat', sans-serif;
}

#instructions h2{
    text-align: right;
    font-weight: 500;
    margin-bottom: 1vh;
    margin-top: 0.5vh;
}

.grey {
    text-align: right;
    margin-right: 1vw;
    margin-top: 1vh;
    color: #d9d9d9;
}


#buttons {
    margin-top: 0.5vh;
    margin-left: 5%;
    flex-wrap: wrap;
}

button {
    margin-bottom: 1vh;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    border-style: double;
    border-color: #2f3e46;
    padding: 4px;
    margin-top: 1vh;
}

#animateBtn {
    margin: 15px;
    margin-left: 4vw;
    margin-bottom: 0;
    font-size: 1.5rem;
}



#red {
    background-color: #f28482;
}

#red:hover {
    background-color: #f1a7a6;
}

#red:active {
    background-color: #f28482;
}


#orange {
    background-color: #f4a261;
    margin-left: 1vw;
    margin-right: 1vw;
}

#orange:hover {
    background-color: #f5c7a1;
}

#orange:active {
    background-color: #f4a261;
}


#yellow {
    background-color:#f6bd60 ;
}

#yellow:hover {
    background-color:#f7d39a ;
}

#yellow:active {
    background-color:#f6bd60 ;
}

#green {
    background-color: #84a98c;
    margin-left: 1vw;
    margin-right: 1vw;
}

#green:hover {
    background-color: #a7d4b1;
}

#green:active {
    background-color: #84a98c;
}

#blue {
    background-color: #118ab2;
}

#blue:hover {
    background-color: #65a0b4;
}

#blue:active {
    background-color: #118ab2;
}

#purple {
    background-color: #7678ed;
    margin-left: 1vw;
    margin-right: 1vw;
}

#purple:hover {
    background-color: #a6a7e9;
}

#purple:active {
    background-color: #7678ed;
}

footer {
    height: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;
    text-align: center;
}