@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

#canvasContainer {
    height:78vh;
    background-color: #2f3e46;
    background-image: url("../public/space.jpg");
}

header {
    margin-bottom: 1vh;
    margin-top: 1vh;
    display: grid;
    gap: 0.25em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 20%;
    overflow: auto;
    overflow-x: hidden;
    font-size: 100%;
}

span {
    align-self: center;
}

h1 {
    font-family: 'Baumans', cursive;
    text-align: right;
    font-size: 4.75vw;
    margin-right: 2vw;
    margin-bottom: 0.5vh;
    margin-top: 1vh;
}

#instructions {
    overflow-y: scroll;
    width: 96%;
    height: 21vh;
    margin-bottom: 1vh;
    margin-right: 0.5vw;
    margin-top: 0.5vh;
    font-family: 'Montserrat', sans-serif;
}

#instructions h2{
    text-align: right;
    font-weight: 500;
    margin-bottom: 1vh;
    margin-top: 0.5vh;
}

.grey {
    text-align: right;
    margin-right: 1vw;
    margin-top: 1vh;
    color: #d9d9d9;
}

#buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    height: 2%;
    margin-bottom: 1vh;
    overflow-y:scroll;
    overflow-x:scroll;
}

button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    border-style: double;
    border-color: #2f3e46;
}

#animateUp {
    align-self: center;
}

#animateDwn {
    align-self: center;
}

#red {
    background-color: #f28482;
}

#red:hover {
    background-color: #f1a7a6;
}

#red:active {
    background-color: #f28482;
}


#orange {
    background-color: #f4a261;
    margin-left: 1vw;
    margin-right: 1vw;
}

#orange:hover {
    background-color: #f5c7a1;
}

#orange:active {
    background-color: #f4a261;
}


#yellow {
    background-color:#f6bd60 ;
}

#yellow:hover {
    background-color:#f7d39a ;
}

#yellow:active {
    background-color:#f6bd60 ;
}

#green {
    background-color: #84a98c;
    margin-left: 1vw;
    margin-right: 1vw;
}

#green:hover {
    background-color: #a7d4b1;
}

#green:active {
    background-color: #84a98c;
}

#blue {
    background-color: #118ab2;
}

#blue:hover {
    background-color: #65a0b4;
}

#blue:active {
    background-color: #118ab2;
}

#purple {
    background-color: #7678ed;
    margin-left: 1vw;
    margin-right: 1vw;
}

#purple:hover {
    background-color: #a6a7e9;
}

#purple:active {
    background-color: #7678ed;
}

input {
    margin-left: 2vh;
    align-self: center;
    margin-top: 1vh;
}

footer {
    height: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;
    text-align: center;
}